# Rain prediction for tomarrow

1.Loading the data and EDA

In [372]:
import numpy as np
import pandas as pd
#For splitting the data
from sklearn.model_selection import train_test_split

#For data preprocessing
from sklearn.preprocessing import StandardScaler

#For hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
#For appling LogisticRegression
from sklearn.linear_model import LogisticRegression
#For encoding the features
from sklearn.preprocessing import LabelEncoder,LabelBinarizer

#For ignoring warnings
import warnings
warnings.filterwarnings("ignore")

In [373]:
df=pd.read_csv('weather.csv')

In [374]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [375]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [376]:
df.shape

(108158, 23)

In [377]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1223
MaxTemp           1042
Rainfall          2592
Evaporation      45579
Sunshine         53173
WindGustDir       6616
WindGustSpeed     6591
WindDir9am        8552
WindDir3pm        3096
WindSpeed9am      1530
WindSpeed3pm      2148
Humidity9am       2122
Humidity3pm       2556
Pressure9am      10686
Pressure3pm      10645
Cloud9am         40670
Cloud3pm         42530
Temp9am           1579
Temp3pm           2062
RainToday         2593
RainTomorrow      2594
dtype: int64

In [378]:
df.drop_duplicates(inplace=True)

# seprate the data

In [379]:
df_yes= df[df['RainTomorrow']=='Yes']
df_no = df[df['RainTomorrow']=='No']

observing the data when is raintomarrow is yes and when raintomarrow is no

In [380]:
df_yes.mode()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2010-08-10,Portland,9.6,14.8,0.0,4.0,0.0,W,39.0,N,...,99.0,69.0,1014.2,1011.0,8.0,8.0,19.4,17.2,No,Yes

In [381]:
df_no.mode()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2013-03-25,Canberra,10.0,25.0,0.0,4.0,10.7,W,35.0,N,...,65.0,52.0,1017.9,1015.3,1.0,1.0,16.0,18.4,No,No
1,2013-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2014-11-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2014-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# handling NA VALUE

In [382]:
#For Temparatures we cannot replace NaN values with 0, hence replacing NaN with its respective mode value
df_yes['MinTemp'].fillna(value=df_yes['MinTemp'].mode()[0],inplace=True )
df_no['MinTemp'].fillna(value=df_no['MinTemp'].mode()[0],inplace=True )

df_yes['MaxTemp'].fillna(value=df_yes['MaxTemp'].mode()[0],inplace=True )
df_no['MaxTemp'].fillna(value=df_no['MaxTemp'].mode()[0],inplace=True )


df_yes['Temp9am'].fillna(value=df_yes['Temp9am'].mode()[0],inplace=True )
df_no['Temp9am'].fillna(value=df_no['Temp9am'].mode()[0],inplace=True )

df_yes['Temp3pm'].fillna(value=df_yes['Temp3pm'].mode()[0],inplace=True )
df_no['Temp3pm'].fillna(value=df_no['Temp3pm'].mode()[0],inplace=True )

In [383]:
# For humidity also 
df_yes['Humidity9am'].fillna(value=df_yes['Humidity9am'].mode()[0],inplace=True )
df_no['Humidity9am'].fillna(value=df_no['Humidity9am'].mode()[0],inplace=True )



df_yes['Humidity3pm'].fillna(value=df_yes['Humidity3pm'].mode()[0],inplace=True )
df_no['Humidity3pm'].fillna(value=df_no['Humidity3pm'].mode()[0],inplace=True )

In [384]:
# For the rain fall feature we can replace NaN with 0.0 which says there is no rain fall
df_yes['Rainfall'].fillna(value=0.0,inplace=True)
df_no['Rainfall'].fillna(value=0.0,inplace=True)

In [385]:
df_yes['Pressure9am'].fillna(value=df_yes['Pressure9am'].median(),inplace=True )
df_no['Pressure9am'].fillna(value=df_no['Pressure9am'].median(),inplace=True )

df_yes['Pressure3pm'].fillna(value=df_yes['Pressure3pm'].median(),inplace=True )
df_no['Pressure3pm'].fillna(value=df_no['Pressure3pm'].median(),inplace=True )


df_yes['WindSpeed9am'].fillna(value=df_yes['WindSpeed9am'].median(),inplace=True )
df_no['WindSpeed9am'].fillna(value=df_no['WindSpeed9am'].median(),inplace=True )

df_yes['WindSpeed3pm'].fillna(value=df_yes['WindSpeed3pm'].median(),inplace=True )
df_no['WindSpeed3pm'].fillna(value=df_no['WindSpeed3pm'].median(),inplace=True )

#WindGustSpeed -- replacing with median
df_yes['WindGustSpeed'].fillna(value=df_yes['WindGustSpeed'].median(),inplace=True)
df_no['WindGustSpeed'].fillna(value=df_no['WindGustSpeed'].median(),inplace=True)

In [386]:
# For RainToday feature we cannot fill any value, so better to remove the NaN values 
df_yes.dropna(inplace=True)
df_no.dropna(inplace=True)

In [387]:
data_filled= df_yes.append(df_no, ignore_index=True)

In [388]:
data_filled.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RainTomorrow     False
dtype: bool

In [389]:
#Removing unwanted features, RISK_MM is same as target label hence removing with data and loaction  
data_final = data_filled.drop(['Date', 'Location'], axis=1)

In [390]:
data_final.shape

(43468, 21)

# handling outliers

In [391]:
data_final.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [392]:
cols=data_final.select_dtypes(include=[np.number]).columns.array
numericlist=data_final.select_dtypes(include=[np.number])
numericlist

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,21.4,37.5,0.0,14.8,6.9,43.0,26.0,9.0,34.0,29.0,1013.1,1009.6,7.0,6.0,26.2,34.1
1,21.8,30.7,0.0,8.0,5.9,56.0,24.0,19.0,71.0,63.0,1008.6,1006.2,7.0,7.0,24.4,27.3
2,20.3,36.0,18.0,8.2,10.5,94.0,13.0,7.0,89.0,50.0,1008.6,1006.7,7.0,4.0,24.7,33.4
3,23.6,40.4,0.6,11.8,12.2,54.0,9.0,11.0,42.0,17.0,1008.4,1005.0,1.0,2.0,29.9,38.7
4,16.8,23.3,0.6,8.0,2.3,63.0,35.0,35.0,66.0,53.0,1013.8,1012.2,7.0,7.0,18.5,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43463,17.4,31.3,0.0,11.8,4.1,57.0,24.0,37.0,23.0,14.0,1016.6,1013.4,7.0,7.0,22.3,29.5
43464,19.9,29.7,0.0,12.0,1.8,50.0,15.0,30.0,31.0,15.0,1016.9,1012.7,7.0,8.0,21.6,28.5
43465,20.0,26.4,0.0,12.0,2.6,46.0,24.0,19.0,51.0,43.0,1013.4,1011.6,5.0,1.0,21.2,26.1
43466,13.7,30.0,0.0,4.4,9.4,65.0,9.0,37.0,63.0,26.0,1014.5,1008.9,6.0,6.0,19.2,29.1
43467,10.0,20.5,0.0,10.2,10.3,41.0,19.0,13.0,64.0,34.0,1019.3,1017.6,1.0,1.0,15.5,19.9

In [393]:
Q1 = data_final[cols].quantile(0.25)
Q3 = data_final[cols].quantile(0.75)
IQR = Q3 - Q1
data_final = data_final[~((data_final[cols] < (Q1 - 1.5 * IQR)) |(df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]
data_final.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,21.4,37.5,0.0,14.8,6.9,NNE,43.0,ENE,NNE,26.0,...,34.0,29.0,1013.1,1009.6,7.0,6.0,26.2,34.1,No,Yes
1,21.8,30.7,0.0,8.0,5.9,WNW,56.0,N,N,24.0,...,71.0,63.0,1008.6,1006.2,7.0,7.0,24.4,27.3,No,Yes
2,20.3,36.0,18.0,8.2,10.5,WSW,94.0,NNE,NW,13.0,...,89.0,50.0,1008.6,1006.7,7.0,4.0,24.7,33.4,Yes,Yes
3,23.6,40.4,0.6,11.8,12.2,WSW,54.0,E,SSW,9.0,...,42.0,17.0,1008.4,1005.0,1.0,2.0,29.9,38.7,No,Yes
4,16.8,23.3,0.6,8.0,2.3,E,63.0,E,E,35.0,...,66.0,53.0,1013.8,1012.2,7.0,7.0,18.5,22.4,No,Yes

# Encoding

In [394]:
WindGustDir_encode = LabelEncoder()
data_final['WindGustDir']=WindGustDir_encode.fit_transform(data_final['WindGustDir'])

WindDir9am_encode = LabelEncoder()
data_final['WindDir9am']=WindDir9am_encode.fit_transform(data_final['WindDir9am'])

WindDir3pm_encode = LabelEncoder()
data_final['WindDir3pm']=WindDir3pm_encode.fit_transform(data_final['WindDir3pm'])

RainToday_encode = LabelEncoder()
data_final['RainToday']=RainToday_encode.fit_transform(data_final['RainToday'])

RainTomorrow_encode = LabelEncoder()
data_final['RainTomorrow']=RainTomorrow_encode.fit_transform(data_final["RainTomorrow"])

In [395]:
data_final.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,21.4,37.5,0.0,14.8,6.9,5,43.0,1,5,26.0,...,34.0,29.0,1013.1,1009.6,7.0,6.0,26.2,34.1,0,1
1,21.8,30.7,0.0,8.0,5.9,14,56.0,3,3,24.0,...,71.0,63.0,1008.6,1006.2,7.0,7.0,24.4,27.3,0,1
2,20.3,36.0,18.0,8.2,10.5,15,94.0,5,7,13.0,...,89.0,50.0,1008.6,1006.7,7.0,4.0,24.7,33.4,1,1
3,23.6,40.4,0.6,11.8,12.2,15,54.0,0,11,9.0,...,42.0,17.0,1008.4,1005.0,1.0,2.0,29.9,38.7,0,1
4,16.8,23.3,0.6,8.0,2.3,0,63.0,0,0,35.0,...,66.0,53.0,1013.8,1012.2,7.0,7.0,18.5,22.4,0,1

In [396]:
Y= data_final['RainTomorrow']
X = data_final.drop(['RainTomorrow'],axis=1)

In [397]:
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,21.4,37.5,0.0,14.8,6.9,5,43.0,1,5,26.0,9.0,34.0,29.0,1013.1,1009.6,7.0,6.0,26.2,34.1,0
1,21.8,30.7,0.0,8.0,5.9,14,56.0,3,3,24.0,19.0,71.0,63.0,1008.6,1006.2,7.0,7.0,24.4,27.3,0
2,20.3,36.0,18.0,8.2,10.5,15,94.0,5,7,13.0,7.0,89.0,50.0,1008.6,1006.7,7.0,4.0,24.7,33.4,1
3,23.6,40.4,0.6,11.8,12.2,15,54.0,0,11,9.0,11.0,42.0,17.0,1008.4,1005.0,1.0,2.0,29.9,38.7,0
4,16.8,23.3,0.6,8.0,2.3,0,63.0,0,0,35.0,35.0,66.0,53.0,1013.8,1012.2,7.0,7.0,18.5,22.4,0

In [398]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: RainTomorrow, dtype: int64

In [399]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=324)

In [400]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt1=DecisionTreeClassifier(criterion="entropy")

In [401]:
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [402]:
dt1.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [403]:
dt.score(X_test,y_test)

0.7752252252252252

In [404]:
dt1.score(X_test,y_test)

0.7851351351351351

In [405]:
clf_log = LogisticRegression(penalty='l2',class_weight='balanced')

In [406]:
clf_log.fit(X_train, y_train)

LogisticRegression(class_weight='balanced')

In [407]:
clf_log.score(X_test,y_test)

0.7833333333333333

# Feature scaling

In [408]:
from sklearn.preprocessing import StandardScaler

In [409]:
ss = StandardScaler()

In [410]:
ss.fit(X_train)

StandardScaler()

In [411]:
Xtrain_ss = ss.transform(X_train)

In [412]:
Xtest_ss = ss.transform(X_test)

In [413]:
dtgini1 = DecisionTreeClassifier()

In [414]:
dtentro1 = DecisionTreeClassifier(criterion="entropy")

In [415]:
dtgini1.fit(Xtrain_ss,y_train)
dtentro1.fit(Xtrain_ss,y_train)

DecisionTreeClassifier(criterion='entropy')

In [416]:
dtgini1.score(Xtest_ss,y_test)

0.7768768768768769

In [417]:
dtentro1.score(Xtest_ss,y_test)

0.7864864864864864

# cross validation

In [418]:
from sklearn.model_selection import cross_val_score, KFold

In [419]:
kf = KFold(n_splits=10)

In [420]:
scoregini1 = cross_val_score(DecisionTreeClassifier(),X,Y,cv=kf)

In [421]:
scoreentro1 = cross_val_score(DecisionTreeClassifier(criterion="entropy"),X,Y,cv=kf)

In [422]:
scoregini1.mean()

0.6907041045250717

In [423]:
scoreentro1.mean()

0.6904926674947702

# randome forest

In [424]:
from sklearn.ensemble import RandomForestClassifier

In [425]:
rfcgini = RandomForestClassifier(n_estimators=200,criterion="gini")

In [426]:
rfcgini.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200)

In [427]:
rfcgini.score(X_test,y_test)

0.851051051051051

In [428]:
rfcgini2 = RandomForestClassifier(n_estimators=200,criterion="gini")

In [429]:
rfcgini2.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200)

In [430]:
from sklearn.svm import SVC
ajsvc=SVC()

In [431]:
ajsvc.fit(X_train,y_train)

SVC()

In [432]:
ajsvc.score(X_test,y_test)

0.8213213213213213

In [433]:
svcpoly1=SVC(kernel="poly")
svcsig1=SVC(kernel="sigmoid")
svclinear1=SVC(kernel="linear")
svcrbf1=SVC(kernel="rbf")

In [434]:
algo=[svcpoly1,svcsig1,svclinear1,svcrbf1]

In [435]:
for m in algo:
  m.fit(X_train,y_train)
  mscore=m.score(X_test,y_test)
  print("model:{}, score: {}".format(m,mscore))

model:SVC(kernel='poly'), score: 0.8355855855855856
model:SVC(kernel='sigmoid'), score: 0.7656156156156156
model:SVC(kernel='linear'), score: 0.8426426426426427
model:SVC(), score: 0.8213213213213213